.quiz-start
  .card.text-center.card-outline-primary
    .card-header.heading-bk
      %h4.card-title
        = @quiz.title
    .card-block
      = image_full @quiz.image, class: "img-fluid rounded  mx-auto d-block"
      = img_reference(@quiz.image)
    .card-block
      .card-text
        = @quiz.description
    .card-footer.text-center
      = link_to "Play Now", "#", onclick: "Quiz.start();return false;", class: "btn btn-success"
      -unless @preview
        = button_tag 'share on facebook', style: 'button', onclick: "Social.share(this)", class:"btn btn-primary", data:{ 's-href': quiz_url(@quiz) , 's-redirect-url': quiz_url(@quiz) }

= content_tag :div, nil, id: "renderer", class: 'hidden', data: {props: {url_name: @quiz.url_name, preview: @preview}}
= javascript_include_tag 'webpack/quiz-bundle'

