= modal_alert(id: "quiz_errors", title:"Quiz Validation Errors") do
  %p The following errors need to be fixed before the quiz can be published:
  - if quiz_validator.errors.any?
    #error_explanation
      %h4= "#{pluralize(quiz_validator.errors.count, "errors")}:"
      %ul
        - quiz_validator.errors.full_messages.each do |msg|
          %li= msg
  - quiz_validator.questions.each do |q|
    - if q.errors.any?
      #error_explanation
        %h4= "#{pluralize(q.errors.count, "error")} for question #{q.question.order_by}:"
        %ul
          - q.errors.full_messages.each do | msg |
            %li= msg

