.quiz-start
  .card.text-md-center.card-outline-primary
    .card-header.heading-bk
      %h4.card-title
        = @quiz.title
    .card-block
      = image_full @quiz.image, class: "img-fluid img-rounded  mx-auto d-block"
      = img_reference(@quiz.image)
    .card-block
      .card-text
        = @quiz.description
    .card-footer.text-xs-center
      = link_to "Play Now", @quiz, remote:true, class: "btn btn-success",
        data:{ toggle:"collapse", target:".start-quiz"}
      = button_tag 'share on facebook', style: 'button', onclick: "Social.share(this)", class:"btn btn-primary", data:{ 's-href': quiz_url(@quiz) , 's-redirect-url': quiz_url(@quiz) }

= content_tag :div, nil, id: "renderer", class: "collapse start-quiz", data: {props: {url_name: @quiz.url_name}}
= javascript_include_tag 'bundles/quiz-bundle'

