= form_for [:client, @quiz, @question_form], url: client_quiz_questions_path(@quiz,@question_form), class: 'project', remote: true  do |f|
  - if @question_form.errors.any?
    #error_explanation
      %h4= "#{pluralize(@question_form.errors.count, "Fehler")}:"
      %ul
        - @question_form.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: "col-sm-2"
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group
    = f.label :description, class: "col-sm-2"
    .col-sm-10
      = f.text_field :description, class: "form-control"
  .form-group
    = f.label :order_by, class: "col-sm-2"
    .col-sm-10
      = f.number_field :order_by, class: "form-control"
  =f.fields_for :image do |ff|
    .image
      = image_full ff.object, class:"img-thumbnail"
    .form-group
      = ff.label :image_file
      .col-sm-10
        = ff.file_field :image_file
  =f.fields_for :answers do |ff|
    .form-group
      = f.label :title, class: "col-sm-2"
      .col-sm-10
        = ff.text_field :title, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
