= form_for [:client, @quiz, @question_form], html:{ multipart: :true }, authenticity_token: true, class: 'project', remote: true  do |f|
  - if @question_form.errors.any?
    #error_explanation
      %h4= "#{pluralize(@question_form.errors.count, "Fehler")}:"
      %ul
        - @question_form.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: "col-sm-2"
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group
    = f.label :description, class: "col-sm-2"
    .col-sm-10
      = f.text_field :description, class: "form-control"
  .form-group
    = f.label :order_by, class: "col-sm-2"
    .col-sm-10
      = f.number_field :order_by, class: "form-control"
  =f.fields_for :image do |ff|
    =render partial:'image_form', locals: { f: ff }
  #answers
    %h4 Answers
    %ul.list
      = f.fields_for :answers do |a|
        -if a.object.persisted?
          =render partial: 'answer_form', locals: { f:a }
  .links
    = link_to_add_association 'add answer', f, :answers, partial: 'answer_form',force_non_association_create: true
  .actions
  = link_to 'cancel', client_quiz_questions_path(@quiz), class: "btn btn-default", remote: true
  = f.submit 'Save', class: "btn btn-primary"
