= form_for [:client, @quiz, @question_form], html:{ multipart: :true, id: "question_form" }, authenticity_token: true, remote: true  do |f|
  -if @question_form.persisted?
    %h3 Edit Question
  -else
    %h3 New Question
  = render partial: 'form_errors_base', locals: {the_model: @question_form, form_id: "question_form"}
  .form-group
    = f.label :title, class: "col-sm-2"
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group
    = f.label :description, class: "col-sm-2"
    .col-sm-10
      = f.text_field :description, class: "form-control"
  .form-group
    = f.label :order_by, class: "col-sm-2"
    .col-sm-10
      = f.number_field :order_by, class: "form-control"
  =f.fields_for :image do |ff|
    =render partial:'image_form', locals: { f: ff }
  #answers
    %h4 Answers
    %ul.list-group.answer-list
      %li.answer.list-group-item.list-group-item-action.clearfix
        .col-md-8
          Answer Text
        .col-md-3
          Points
        .col-md-1
      = f.fields_for :answers do |a|  
        =render partial: 'answer_form', locals: { f:a }
      %li.answer.list-group-item.list-group-item-action.clearfix
        = link_to_add_association 'add answer', f, :answers, partial: 'answer_form',force_non_association_create: true, class: 'btn btn-primary pull-right', data_association_insertion_method: 'append'
  .actions.clearfix
    %span.pull-right
      = link_to 'cancel', client_quiz_question_path(@quiz, @question_form.model), class: "btn btn-default", remote: true
      = f.submit 'Save', class: "btn btn-primary"
