.outcome-box
  .card.text-md-center.card-outline-primary
    .card-header.heading-bk
      %h4.card-title
        = "You scored #{@result[:percentage]}%! - "
        = @outcome.title
    .card-block
      = image_full @outcome.image, class: "img-fluid img-rounded  m-x-auto d-block"
      = img_reference(@outcome.image)
    .card-block
      .card-text
        = @outcome.description
    .card-footer.text-md-center
      = button_tag 'Share on facebook!', style: 'button', onclick: "Social.share(this)", class:"btn btn-primary", data:{ 's-href': request.original_url, 's-redirect-url': quiz_url(@quiz) }
      = link_to "Play Again!", @quiz, class: "btn"

