- if the_model.errors.any?
  #error_explanation.text-warning
    %h4= "#{pluralize(the_model.errors.count, "error")}:" 

- if the_model.errors[:base].any?
  %ul
    - the_model.errors[:base].full_messages.each do |msg|
      %li= msg

-if the_model.errors.any?
  :javascript
    $(function () {
      General.showFormErrors("#{the_model.model.class.name.downcase}", "##{form_id}", #{the_model.errors.to_json})
    });
    

