!!!
%html{"lang" => "en"}
  %head
    = csrf_meta_tags
    = display_meta_tags default_meta_tags
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_tag do
      var QM = QM || {};
      QM.CONST = {};
      QM.CONST.CSRF_TOKEN  = '#{form_authenticity_token}'
    - if Rails.env == "production"
      / Global site tag (gtag.js) - Google Analytics
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-110576315-1"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-110576315-1');
    = yield :head
  %body{"data-action" => "#{controller.action_name}", "data-controller" => "#{controller.controller_path}"}
    .container-fluid
      -if content_for?(:header)
        = yield :header
      -else
        = render :partial => '/layouts/header'

    -if content_for?(:content)
      = yield :content
    -else
      .container
        .row
          .col-md-12
            = render  :partial => '/layouts/notice'
            = yield
= yield :script
