!!!
%html
  %head
    = csrf_meta_tags
    = display_meta_tags default_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_tag do
      var QM = QM || {};
      QM.CONST = {};
      QM.CONST.CSRF_TOKEN  = '#{form_authenticity_token}'
  %body
    .container-fluid
      %nav.navbar.navbar-light.bg-faded
        .container
          #navbar-header
            = link_to root_path, class: 'navbar-brand' do
              %span.fa.fa-home
              Quiz Mistress
          .collapse.navbar-collapse.navbar-toggleable-xs
            %ul.nav.navbar-nav
              %li.nav-item
                = link_to quizzes_path, class: 'nav-link'  do
                  Quizzes
              %li.nav-item
                %a.nav-link{:href => "#"}
                  About
    .container
      .row
        .col-md-12
          = yield


